html {
  font-size: 100%;
  box-sizing: border-box;
  @include breakpoint(mobile) {
    font-size: 70%;
  }
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  position: relative;
}
body {
  background-color: var(--background);
  background-image: url("../images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  font-size: 1.125rem;
  font-family: $font-family;

  @include breakpoint(mobile) {
    background-image: url("../images/bg-mobile-dark.jpg");
  }

  @media (prefers-color-scheme: light) {
    background-image: url("../images/bg-desktop-light.jpg");

    @include breakpoint(mobile) {
      background-image: url("../images/bg-mobile-light.jpg");
    }
  }
}
