:root {
  --background: hsl(235, 21%, 11%);
  --primary-color: hsl(235, 24%, 19%);
  --text-color: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --text-color-2: hsl(233, 14%, 35%);
  --very-dark-grayish-blue-2: hsl(237, 14%, 26%);
  --accent-color: hsl(220, 98%, 61%);
}

.light-theme {
  --primary-color: hsl(0, 0%, 98%);
  --background: hsl(236, 33%, 92%);
  --light-grayish-blue-hover: hsl(233, 11%, 84%);
  --text-color-2: hsl(236, 9%, 61%);
  --text-color: hsl(235, 19%, 35%);
  --accent-color: hsl(220, 98%, 61%);
  background-image: url("../images/bg-desktop-light.jpg");
}

.light-theme .moon-bg {
  background: url("../images/icon-moon.svg") no-repeat;
}

@media (max-width: 480px) {
  .light-theme {
    background-image: url("../images/bg-mobile-light.jpg");
  }
}

.dark-theme {
  --background: hsl(235, 21%, 11%);
  --primary-color: hsl(235, 24%, 19%);
  --text-color: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --text-color-2: hsl(233, 14%, 35%);
  --very-dark-grayish-blue-2: hsl(237, 14%, 26%);
  --accent-color: hsl(220, 98%, 61%);
  background-image: url("../images/bg-desktop-dark.jpg");
}

.dark-theme .sun-bg {
  background: url("../images/icon-sun.svg") no-repeat;
}

@media (max-width: 480px) {
  .dark-theme {
    background-image: url("../images/bg-mobile-dark.jpg");
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: hsl(0, 0%, 98%);
    --background: hsl(236, 33%, 92%);
    --light-grayish-blue-hover: hsl(233, 11%, 84%);
    --text-color-2: hsl(236, 9%, 61%);
    --text-color: hsl(235, 19%, 35%);
    --accent-color: hsl(220, 98%, 61%);
  }
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 480px) {
  html {
    font-size: 70%;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  background-color: var(--background);
  background-image: url("../images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  font-size: 1.125rem;
  font-family: "Josefin Sans", sans-serif;
}

@media (max-width: 480px) {
  body {
    background-image: url("../images/bg-mobile-dark.jpg");
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-image: url("../images/bg-desktop-light.jpg");
  }
}

@media (prefers-color-scheme: light) and (max-width: 480px) {
  body {
    background-image: url("../images/bg-mobile-light.jpg");
  }
}

body {
  padding: 1rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding-top: 5rem;
  width: 90%;
  max-width: 43rem;
}

@media (max-width: 480px) {
  .container {
    width: 98%;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

header h1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 2.5rem;
}

header .theme {
  outline: none;
  border: none;
  background: url("../images/icon-sun.svg") no-repeat;
  height: 1.6rem;
  aspect-ratio: 1;
}

@media (max-width: 480px) {
  header .theme {
    height: 2.5rem;
  }
}

@media (prefers-color-scheme: light) {
  header .theme {
    background: url("../images/icon-moon.svg") no-repeat;
  }
}

.add-todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--primary-color);
  padding: 1.2em;
  border-radius: 5px;
  margin-bottom: 2.125rem;
}

.add-todo .check-icon {
  height: 1.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid var(--text-color-2);
  margin-right: 1em;
}

.add-todo [name="to-do"] {
  font-size: 1.2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--accent-color);
}

.todo-list {
  background-color: var(--primary-color);
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.todo-list .draggable {
  cursor: move;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.todo-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.75rem 1.2rem;
  border-bottom: 1px solid var(--text-color-2);
}

.todo-list .item [type="checkbox"] {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: transparent;
  margin: 0;
  color: var(--text-color-2);
  width: 1.5rem;
  height: 1.5rem;
  max-height: 1.5rem;
  aspect-ratio: 1;
  border: 0.015em solid var(--text-color-2);
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin-right: 1em;
  background-clip: padding-box;
}

.todo-list .item [type="checkbox"]::before {
  content: url("../images/icon-check.svg");
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 200ms -webkit-transform ease-in-out;
  transition: 200ms -webkit-transform ease-in-out;
  transition: 200ms transform ease-in-out;
  transition: 200ms transform ease-in-out, 200ms -webkit-transform ease-in-out;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#57ddff), to(#c058f3));
  background-image: linear-gradient(#57ddff, #c058f3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.todo-list .item [type="checkbox"]:checked::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.todo-list .item [type="checkbox"]:checked + .label {
  text-decoration: line-through;
  color: var(--text-color-2);
}

.todo-list .item .label {
  color: var(--text-color);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.todo-list .item .delete-item {
  width: 1.5rem;
  height: 1.5rem;
  outline: none;
  border: none;
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../images/icon-cross.svg");
}

@media (min-width: 481px) {
  .todo-list .item .delete-item {
    visibility: hidden;
  }
}

@media (min-width: 481px) {
  .todo-list .item:hover > .delete-item {
    visibility: visible;
  }
}

.todo-list .todo-list__overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1.2rem;
}

span {
  color: var(--text-color-2);
  font-size: 1rem;
  cursor: pointer;
}

@media (min-width: 481px) {
  span:hover {
    color: var(--text-color);
  }
}

span.active {
  color: var(--accent-color);
}

@media (max-width: 480px) {
  .mobile {
    display: none;
  }
}

.list-type {
  display: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 1.75rem 1.2rem;
  margin-top: 20px;
}

.list-type div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 18.75rem;
  max-width: 100%;
}

@media (max-width: 480px) {
  .list-type {
    display: block;
  }
}

.reorder {
  margin-top: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: var(--text-color-2);
}

.attribution {
  margin-top: 1rem;
  font-size: .9rem;
  text-align: center;
  color: var(--text-color);
}

.attribution a {
  color: var(--accent-color);
  text-decoration: none;
}

.dragging {
  background-color: var(--background);
  border: 2px dashed var(--text-color);
}
/*# sourceMappingURL=style.css.map */