* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
}

a {
  color: black;
  text-decoration: none;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: rgba(225, 225, 225, 0.02);
  -webkit-backdrop-filter: blur(46px);
          backdrop-filter: blur(46px);
}

button {
  padding: .5rem 1.5rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  background: transparent;
  cursor: pointer;
}

.nbtn1 {
  border: none;
}

.learn {
  margin-top: 2rem;
  background: black;
  color: white;
  font-weight: 600;
  padding: 1rem 2rem;
  -webkit-transition: .4s ease-in;
  transition: .4s ease-in;
}

.learn:hover {
  background: white;
  border: 2px solid black;
  color: black;
}

footer {
  background: black;
  bottom: 0;
  width: 100vw;
  color: white;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0;
}

footer a {
  color: #148af9;
}

footer .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #ffffff;
  line-height: 1;
  margin-right: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .social-links a:hover {
  color: #0563bb;
}

@media screen and (max-width: 778px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .logo {
    width: 4rem;
    z-index: 99;
  }
  header .ham {
    z-index: 10;
    background-image: url(../images/icon-close-menu.svg);
    width: 2rem;
    background-repeat: no-repeat;
    height: 2rem;
  }
  header .cl {
    background-image: url(../images/icon-menu.svg);
  }
  header .nav {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    z-index: 5;
    width: 70vw;
    -webkit-box-shadow: -60vw 0px 5px rgba(9, 9, 9, 0.7);
            box-shadow: -60vw 0px 5px rgba(9, 9, 9, 0.7);
    right: 0px;
    top: 0px;
    padding: 4rem 2rem;
    background: #e1e1e1;
    -webkit-transition: all .7s linear;
    transition: all .7s linear;
  }
  header .nav .nav_btn {
    margin-top: .5rem;
  }
  header .nav .nav_links li {
    margin-bottom: 1rem;
  }
  header .nav .nav_links li ul {
    left: 5px;
    margin: 1rem;
  }
  header .nav .nav_links li .nbtn {
    width: 50vw;
  }
  header .d-none {
    display: none;
    -webkit-transition: all .7s linear;
    transition: all .7s linear;
  }
  main .img {
    width: 100%;
  }
  main .imgd {
    display: none;
  }
  main .hero {
    padding: 2rem 1rem;
    text-align: center;
  }
  main .hero h1 {
    font-size: 2rem;
    line-height: 4rem;
  }
  main .client {
    margin-top: 2rem;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main .client img {
    width: 3rem;
  }
}

footer {
  position: absolute;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 778px) {
  .d-none {
    display: none;
    -webkit-transition: all .7s linear;
    transition: all .7s linear;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 8vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem 3rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .ham {
    display: none;
  }
  header .nav {
    width: 90%;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .nav .nav_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }
  header .nav .nav_links .c:hover .cc {
    display: block;
  }
  header .nav .nav_links li {
    position: relative;
  }
  header .nav .nav_links li:hover .fc {
    display: block;
  }
  header .nav .nav_links li ul {
    width: 9rem;
    position: absolute;
    padding: 1rem;
    background: white;
    border-radius: 5px;
    margin-top: 1rem;
    right: 0;
    -webkit-box-shadow: 0 0 40px rgba(73, 71, 71, 0.2);
            box-shadow: 0 0 40px rgba(73, 71, 71, 0.2);
  }
  header .nav .nav_links li ul li {
    cursor: pointer;
  }
  header .nav .nav_links li a:hover {
    font-weight: 600;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem 3rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .img {
    display: none;
  }
  main .imgd {
    width: 45%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .imgd img {
    width: 25rem;
  }
  main .hero {
    width: 50%;
    margin-top: 3rem;
    height: 100%;
    padding: 2rem;
  }
  main .hero h1 {
    font-size: 4rem;
  }
  main .hero .client {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 5rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 1118px) {
  main .imgd img {
    width: 20rem;
  }
  main .hero h1 {
    font-size: 2rem;
  }
  main .hero .client img {
    width: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */